{:paths ["src" "test"]
 :deps  {org.clojure/clojure {:mvn/version "1.10.3"}
         com.graphhopper/graphhopper-map-matching {:mvn/version "4.0"}
         ring/ring {:mvn/version "1.9.4"}
         ring/ring-jetty-adapter {:mvn/version "1.9.4"}
         ring/ring-json {:mvn/version "0.5.1"}
         metosin/reitit {:mvn/version "0.5.15"}
         org.slf4j/slf4j-log4j12 {:mvn/version "1.7.30"}}}