{:paths ["src" "test"]
 :deps  {thheller/shadow-cljs {:mvn/version "2.22.0"}
         reagent/reagent      {:mvn/version "1.2.0"}
         cljs-http/cljs-http {:mvn/version "0.1.46"}}
 :aliases {:outdated {:replace-deps {olical/depot {:mvn/version "2.3.0"}}
                      :main-opts ["-m" "depot.outdated.main"]}}}
